body {
	font-family: monospace;
}

.main {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

@media (max-width:980px) {
	body {
		font-size: 150%;
	}

	.top {
		font-size: 125%;
	}

	.post-content pre {
		font-size: 150%;
	}

        .main {
		max-width: 90%;
                width: fit-content;
        }
}

.board {
	border: 2px solid black;
	margin-top: 15px;
	padding: 15px;
}

.post, .thread {
	border: 2px solid black;
	padding: 15px;
	margin-top: 15px;
}
.post-info, .thread-info {
	font-weight: bold;
}

.thread-meta {
	font-size: 80%;
	float: bottom;
}

.post-content pre {
	white-space: pre-wrap;
}

/* posts made by you */
.you { color: green; }

.top {
	/* force everything on one line */
	display: inline-block;
}

.blink {
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
