:target {
	background-color: #eeeeee;
}

body {
	background-color: white;
	font-family: monospace;
}

.main {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

.board {
	border: 2px solid black;
	margin-top: 15px;
	padding: 15px;
}

.post, .thread {
	border: 2px solid black;
	padding: 15px;
	margin-top: 15px;
}
.post-info, .thread-info {
	font-weight: bold;
}

.thread-meta {
	font-size: 80%;
	float: bottom;
}

.post-content pre {
	white-space: pre-wrap;
}

/* posts made by you */
.you { color: green; }

.top {
	/* force everything on one line */
	display: inline-block;
}

.blink {
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.image {
	max-width: 70%;
	max-width: 70%;
	margin: 10px;
}

.small {
	font-size: 70%;
}

@media (max-width:980px) {
	body {
		font-size: xx-large;
	}

        .main {
		max-width: 90%;
                width: fit-content;
        }

	.board, .post, .thread {
		margin-top: 1.5rem;
	}
}

